name: docs
on:
    push:
        tags:
            - "v*" # triggers on tags like v1.0.0, v2.3, etc.
permissions:
    contents: write
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Configure Git Credentials
              run: |
                  git config user.name github-actions[bot]
                  git config user.email 41898282+github-actions[bot]@users.noreply.github.com

            - name: Extract version (keep the v)
              id: vars
              run: |
                  # github.ref = refs/tags/v1.2.3
                  TAG="${GITHUB_REF#refs/tags/}"   # TAG = v1.2.3
                  VERSION="${TAG#v}"               # VERSION = 1.2.3
                  echo "version=$VERSION" >> $GITHUB_OUTPUT

            - name: Show version
              run: |
                  echo "Version is: ${{ steps.vars.outputs.version }}"

            - uses: actions/setup-python@v5
              with:
                  python-version: 3.x
            - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
            - uses: actions/cache@v4
              with:
                  key: mkdocs-material-${{ env.cache_id }}
                  path: ~/.cache
                  restore-keys: |
                      mkdocs-material-
            - run: pip install mkdocs-material mkdocstrings[python] mike
            - run: |
                  git fetch origin gh-pages --depth=1
                  mike deploy --push --update-aliases "${{ steps.vars.outputs.version }}" latest
